@import "tailwindcss";

:root {
    /* TODO: Move this out of here, it changes font-size and affects rem values */
    font-family: monospace; 
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #eeeeee;
}

h1 {
    @apply text-4xl font-medium;
}

h2 {
    @apply text-3xl font-medium;
}

h3 {
    @apply text-2xl font-medium;
}

h4 {
    @apply text-xl font-medium;
}

h5 {
    @apply text-lg font-medium;
}

h6 {
    @apply text-base font-medium;
}

a {
    @apply text-blue-600 underline transition-colors duration-75 hover:text-blue-900;
}

.materia-item.hovering,
.horario-item.hovering {
    /* TODO: Remove important */
    background-color: black !important;
    color: white !important;
}

.hide-spin-button::-webkit-inner-spin-button,
.hide-spin-button::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.hide-spin-button {
    -moz-appearance: textfield;
    appearance: textfield;
}
