@import "tailwindcss";

@theme {
    --animate-fade-in-left: fade-in-left 100ms ease-out;
    --animate-fade-out-left: fade-out-left 100ms ease-out;

    @keyframes fade-in-left {
        0% {
            opacity: 0;
            transform: translateX(-3px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes fade-out-left {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(-3px);
        }
    }
}

:root {
    font-family: monospace;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #eeeeee;
}

h1 {
    @apply text-4xl font-medium;
}

h2 {
    @apply text-3xl font-medium;
}

h3 {
    @apply text-2xl font-medium;
}

h4 {
    @apply text-xl font-medium;
}

h5 {
    @apply text-lg font-medium;
}

h6 {
    @apply text-base font-medium;
}

a {
    @apply text-blue-600 underline transition-colors duration-75 hover:text-blue-900;
}

.hide-spin-button::-webkit-inner-spin-button,
.hide-spin-button::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.hide-spin-button {
    -moz-appearance: textfield;
}
